/* src/components/citas/CalendarPicker.css */

/* Lógica de deshabilitado similar a la que usas en tus otros componentes */
.datepicker-disabled {
    background-color: #f2f2f2 !important;
    color: #aaa !important;
    cursor: not-allowed !important;
  }
  